<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous"
            />
    </head>
    <body>
        <div class="container">
            <div class="left-side">
                <div class="profile">
                    <img class="profile-image" src="https://i.pravatar.cc/300"
                        alt="user profile image">
                    <div class="profile-info">
                        <p>Arthur Alvarez</p>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-item" id="active">
                        <p class="link-title">Home</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="menu-item">
                        <p class="link-title">Categories</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="menu-item">
                        <p class="link-title">Saved</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="menu-item">
                        <p class="link-title">Preference</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="menu-item">
                        <p class="link-title logout">Log out</p>
                        <i class="fa fa-arrow-right"></i>
                    </div>

                </div>
            </div>
            <div class="main">
                asdasdasda
            </div>
        </div>
    </body>
</html>