<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
        <div class="form-box">
            <form class="register">
                <h2 class="register">Register</h2>
                <input name="username" type="text" placeholder="Username"
                    class="username" />
                <input name="email" type="text"
                    placeholder="hi@example.com"
                    class="email" />

                <input name="password" type="password" placeholder="Password"
                    class="password" />

                <div class="buttons">
                    <button class="button">Register</button>
                    <button class="button">Log in</button>
                </div>

            </form>
        </div>
    </body>
</html>