{% extends "base.html" %}

{% block body %}

<div class="main">
    <form method="POST">
        <div class="search-box">
            {{ form.search(placeholder="Search", type="text") }}
            <button class="search-button" type="submit">Search</button>
        </div>
    </form>

    {% if books %}

        <div class="cards">
            {% for book in books %}
                <div class="card">
                    <div class="image">
                        <img src="{{ book.image }}" alt="">
                    </div>
                    <div class="info">
                        <h2 class="title">{{ book.title }}</h2>
                        <h4>{{ book.subtitle }}</h4>
                        <div>
                            <p class="price">{{ book.price }}</p>
                            <button onclick="window.location.href='{{ book.url }}'" class="details">Detail</button>
                            <button onclick="window.location.href='/fav/{{ book.url[27:] }}'" class="details">Add to Favs</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% elif searchVariable %}
        There is no book called {{ searchVariable }}

    {% endif %}

</div>
{% endblock %}
