<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="../../static/css/form.css">
    </head>
    <body>
        <div class="form-box">
            <form class="login" method="POST">
                <h2 class="login">Log in</h2>
                <!-- <input name="username" type="text" placeholder="Username"
                    class="username" />
                <input name="username" type="text"
                    placeholder="hi@example.com"
                    class="email" />

                <input name="password" type="password" placeholder="Password"
                    class="password" /> -->
                {{ form.email(class="email", placeholder="hi@example.com") }}
                {{ form.password(class="password", placeholder="Password") }}
            <div class="buttons">
                    <button class="button" type="submit">Log in</button>
                    <button onclick="window.location.href='/register'" class="button">Register</button>
                </div>
                <a class="forget-password" href="#">Forget password?</a>

            </form>
        </div>
    </body>
</html>