<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet"
            href="../../static/css/main.css">
    </head>
    <body>
        <div class="container">
            <div class="left-side">
                <div class="profile">
                    <img class="profile-image" src="https://i.pravatar.cc/300"
                        alt="user profile image">
                    <div class="profile-info">
                        <p>Arthur Alvarez</p>
                    </div>
                </div>
                <div class="menu">
                    <a href="">
                        <div class="menu-item">
                            <p class="link-title">Home</p>
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="menu-item">
                            <p class="link-title">Settings</p>
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="menu-item">
                            <p class="link-title logout">Log out</p>
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>

                </div>
            </div>
            <div class="main">
                <div class="hero-title">
                    <h2>Profile</h2>
                </div>
                <h2 class="section-title">Favorite Books ⭐</h2>
                <div class="cards">
                    
                    <a href="#bookURL"></a>
                        <div class="card">
                            <div class="image">
                                <img src="https://picsum.photos/200/300"
                                    alt="">
                            </div>
                            <div class="info">
                                <h2 class="title">Book Name</h2>
                                <h4>A Hands-On Guide to the Fundamentals of
                                    JavaScript</h4>
                                <div>
                                    <p class="price">$12.6</p>
                                    <button class="details">Detail</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#bookURL">
                        <div class="card">
                            <div class="image">
                                <img src="https://picsum.photos/200/300"
                                    alt="">
                            </div>
                            <div class="info">
                                <h2 class="title">Book Name</h2>
                                <h4>A Hands-On Guide to the Fundamentals of
                                    JavaScript</h4>
                                <div>
                                    <p class="price">$12.6</p>
                                    <button class="details">Detail</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#bookURL">
                        <div class="card">
                            <div class="image">
                                <img src="https://picsum.photos/200/300"
                                    alt="">
                            </div>
                            <div class="info">
                                <h2 class="title">Book Name</h2>
                                <h4>A Hands-On Guide to the Fundamentals of
                                    JavaScript</h4>
                                <div>
                                    <p class="price">$12.6</p>
                                    <button class="details">Detail</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#bookURL">
                        <div class="card">
                            <div class="image">
                                <img src="https://picsum.photos/200/300"
                                    alt="">
                            </div>
                            <div class="info">
                                <h2 class="title">Book Name</h2>
                                <h4>A Hands-On Guide to the Fundamentals of
                                    JavaScript</h4>
                                <div>
                                    <p class="price">$12.6</p>
                                    <button class="details">Detail</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
