{% extends "base.html" %}

{% block body %}
<div class="main">
    <div class="hero-title">
        <h2>Profile</h2>
    </div>
    <h2 class="section-title">Favorite Books ⭐</h2>
    <div class="cards">

        {% if fav_books %}

        {% for fav in fav_books %}

        <div class="card">
            <div class="image">
                <img src="{{ fav.image }}" alt="">
            </div>
            <div class="info">
                <h2 class="title">{{ fav.title }}</h2>
                <h4>{{ fav.desc }}</h4>
                <div>
                    <p class="price">{{ fav.price }}</p>
                    <button onclick="window.location.href='/unfavorite/{{ fav.url[27:] }}'" class="details">Remove from Favourites</button>
                    <button onclick="window.location.href='{{ fav.url }}'" class="details">Detail</button>
                </div>
            </div>
        </div>

        {% endfor %}

        {% endif %}

    </div>
</div>
{% endblock %}
