@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --color-1: #bf5233;
  --color-2: #35325e;
}
body {
  background: #bcbed0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1600px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 350px;
  background: #e5e7ee;
  border-radius: 25px 0px 0px 25px;
}
.left-side .profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 30px;
}
.left-side .profile .profile-image {
  width: 65px;
  border-radius: 100%;
}
.left-side .profile .profile-info {
  margin-left: 15px;
  font-family: Lato, sans-serif;
  color: var(--color-2);
  font-weight: bold;
  font-size: 1.2em;
}
.left-side .menu {
  margin-top: 1.2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-side .menu .menu-item {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: rgba(200, 200, 200, 0.75) solid 1px;
  color: gray;
  font-family: Lato, sans-serif;
  font-weight: bold;
}
.left-side .menu a {
  display: block;
  text-decoration: none;
  width: 80%;
}
.left-side .menu .menu-item#active {
  color: var(--color-2);
}
.left-side .menu .menu-item .logout {
  color: red;
}
.main {
  font-family: Lato, sans-serif;
  padding: 15px;
  background: #fff;
  flex: 1;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
}
.main .search-box {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}
.main .search-box input {
  padding: 16px;
  border: 2px rgba(173, 173, 173, 0.5) solid;
  border-radius: 10px;
  flex: 1;
}
.main .search-box button.search-button {
  padding: 16px;
  color: white;
  width: 100px;
  height: 48px;
  background: var(--color-2);
  border: 0;
  margin-left: 5px;
  border-radius: 10px;
}

.cards {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards a {
  text-decoration: none;
  color: black;
}

.cards .card {
  margin: 8px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
.cards .card .image img {
  width: 180px;
  border-radius: 5px;
}
.cards .card .info {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .card .info button.details {
  background: var(--color-2);
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  width: 100%;
}
.main .hero-title {
  margin-left: 10px;
}
.main .section-title {
  margin-left: 10px;
  margin-top: 40px;
  font-size: 1.2em;
}
