{% extends "base.html" %}

{% block body %}

<div class="topnav">
    {% if session.logged_in %}
        <a href="/logout/">Logout</a>
    {% else %}
        <a href="/login/">Login</a>
        <a href="/register/">Sign up</a>
    {% endif %}
</div>
<hr>

{% if session['logged_in'] %}
    <h5>Welcome, {{session['username'] }}</h5>
    <form method="POST">
        {{form.search}}
        <button type="submit">Search</button>
        
    </form>
    <ul>
    
        {% for book in books %}
            <li>
            <b>BookName:</b> {{ book.title }}
            <br>
            Subtitle: {{ book.subtitle }}
            <br>
            <b style="color:gold">{{ book.price }}</b>
            </li>
            <br><br>
    {% endfor %}

    </ul>

{% endif %}

{% endblock body %}
